In [20]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame
from numpy.random import randn

In [7]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
c    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E'])

In [9]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [10]:
ser2.reindex(['A','B','C','D','E','F'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    0.0
dtype: float64

In [14]:
ser3 = Series(['USA','Canada','Mexico'], index = [0,5,10])

In [12]:
ser3

5        USA
10    Canada
15    Mexico
dtype: object

In [15]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Canada
6     Canada
7     Canada
8     Canada
9     Canada
10    Mexico
11    Mexico
12    Mexico
13    Mexico
14    Mexico
dtype: object

In [30]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['Col1','Col2','Col3','Col4','Col5'])

In [31]:
dframe

       Col1      Col2      Col3      Col4      Col5
A -0.387111 -0.321636 -0.524367  1.545363  0.875313
B -0.513858  0.831873 -1.205032 -0.798090  1.385843
D -0.320358 -1.194339 -1.077690  0.476037 -0.754428
E  0.540683 -1.765523  1.303032  0.214834  0.240354
F -0.992502  0.016641  1.189664 -0.696068 -0.783402

In [32]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [34]:
dframe2

       Col1      Col2      Col3      Col4      Col5
A -0.387111 -0.321636 -0.524367  1.545363  0.875313
B -0.513858  0.831873 -1.205032 -0.798090  1.385843
C       NaN       NaN       NaN       NaN       NaN
D -0.320358 -1.194339 -1.077690  0.476037 -0.754428
E  0.540683 -1.765523  1.303032  0.214834  0.240354
F -0.992502  0.016641  1.189664 -0.696068 -0.783402

In [36]:
column_new = ['Col1','Col2','Col3','Col4','Col5','col6']

In [37]:
dframe2.reindex(columns = column_new)

       Col1      Col2      Col3      Col4      Col5  col6
A -0.387111 -0.321636 -0.524367  1.545363  0.875313   NaN
B -0.513858  0.831873 -1.205032 -0.798090  1.385843   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.320358 -1.194339 -1.077690  0.476037 -0.754428   NaN
E  0.540683 -1.765523  1.303032  0.214834  0.240354   NaN
F -0.992502  0.016641  1.189664 -0.696068 -0.783402   NaN

In [38]:
dframe

       Col1      Col2      Col3      Col4      Col5
A -0.387111 -0.321636 -0.524367  1.545363  0.875313
B -0.513858  0.831873 -1.205032 -0.798090  1.385843
D -0.320358 -1.194339 -1.077690  0.476037 -0.754428
E  0.540683 -1.765523  1.303032  0.214834  0.240354
F -0.992502  0.016641  1.189664 -0.696068 -0.783402

C:\Users\user\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: "['col6'] not in index"