In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [2]:
dframe = pd.read_csv('lec25.csv')

In [3]:
dframe

   Q  R  S  T   Apple
0  2  3  4  5    Pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
dframe = pd.read_csv('lec25.csv', header= None)

In [5]:
dframe

   0  1  2  3       4
0  Q  R  S  T   Apple
1  2  3  4  5    Pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
dframe2 = pd.read_table('lec25.csv',sep=',',header = None)

C:\Users\user\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [9]:
dframe2

   0  1  2  3       4
0  Q  R  S  T   Apple
1  2  3  4  5    Pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [10]:
pd.read_csv('lec25.csv',header=None,nrows=2)

   0  1  2  3      4
0  Q  R  S  T  Apple
1  2  3  4  5   Pear

In [11]:
#Dataframe to csv, export:
dframe.to_csv('mytext_out.csv')

In [12]:
import sys

In [13]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,Q,R,S,T,Apple
1,2,3,4,5,Pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [14]:
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_Q_R_S_T_Apple
1_2_3_4_5_Pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog